body {
	background-color: #ffca99;
	font-family: Arial, sans-serif;
	color: #391c0b;
}

.library-item {
	background-color: #d69456;
	padding: 20px;
	border-radius: 8px;
	max-width: 600px;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.item-detail {
	display: flex;
	flex-direction: column;
	background-color: #ffca99;
	padding: 10px;
	border-radius: 4px;
}

.item-detail {
	color: #6d3b07;
	margin-bottom: 5px;
}

.item-reviews {
	margin-top: 15px;
}

.reviews-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
