.title {
    margin: 40px 0 0 110px;
}

.elements {
    display: flex;
    flex-direction: column;
}

.input {
    margin: 5px 0;
    width: 180px;
    height: 20px;
    display: flex;
    align-items: flex-end;
}

.button {
    margin: 50px 0;
}