nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #f4f4f4;
	color: rgb(255, 255, 255);
	z-index: 1000;
}

ul {
	display: flex;
	list-style-type: none;
}

li {
	padding: 0 2rem;
}
